/****** Object:  UserDefinedFunction [dbo].[FNC_SplitKeyWord]    Script Date: 23/04/2015 07:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Table [dbo].[AttributeEntry]    Script Date: 23/04/2015 07:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttributeEntry](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Type] [nvarchar](128) NOT NULL,
	[PrimaryKey] [bit] NOT NULL,
	[ObjectId] [uniqueidentifier] NOT NULL,
	[ForeignKey] [bit] NOT NULL,
	[ForeignKeyRelation] [nvarchar](500) NULL,
	[IsListable] [bit] NOT NULL,
	[ListColumnIndex] [int] NULL,
	[IsEditable] [bit] NOT NULL,
	[IsComputed] [bit] NOT NULL,
	[ComputedExpression] [nvarchar](max) NULL,
	[IsRequired] [bit] NOT NULL,
	[MaxLength] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Object_Translation]    Script Date: 23/04/2015 07:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Object_Translation](
	[Id] [uniqueidentifier] NOT NULL,
	[ObjectId] [uniqueidentifier] NOT NULL,
	[LanguageId] [uniqueidentifier] NOT NULL,
	[InsertViewTitle] [nvarchar](500) NULL,
	[EditViewTitle] [nvarchar](500) NULL,
	[ListViewTitle] [nvarchar](500) NULL,
	[InsertViewDescription] [nvarchar](max) NULL,
	[EditViewDescription] [nvarchar](max) NULL,
	[ListViewDescription] [nvarchar](max) NULL,
	[DeleteConfirmationMessage] [nvarchar](max) NULL,
 CONSTRAINT [PK__Object_T__3214EC07A9D0FB9E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[ObjectEntry]    Script Date: 23/04/2015 07:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectEntry](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[TableName] [nvarchar](500) NULL,
	[PositionMenu] [int] NOT NULL,
	[TriggerOnInsert] [nvarchar](max) NULL,
	[TriggerOnUpdate] [nvarchar](max) NULL,
	[TriggerOnDelete] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Translation]    Script Date: 23/04/2015 07:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translation](
	[Id] [uniqueidentifier] NOT NULL,
	[AttributeId] [uniqueidentifier] NOT NULL,
	[LanguageId] [uniqueidentifier] NOT NULL,
	[FormLabel] [nvarchar](500) NULL,
	[ListLabel] [nvarchar](500) NULL,
	[FormEditToolTip] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Translation_Language]    Script Date: 23/04/2015 07:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translation_Language](
	[Id] [uniqueidentifier] NOT NULL,
	[LanguageCode] [nvarchar](10) NULL,
	[LanguageName] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

CREATE FUNCTION [dbo].[FNC_SplitKeyWord](@keyword nvarchar(500)) RETURNS NVARCHAR(MAX)
AS
BEGIN
	declare @replaceTo nvarchar(500);

	declare @max int = len(@keyword);
	declare @c int = 0;
	declare @n nvarchar(5);

	declare @a nvarchar(1);

	SET @replaceTo = '';

	while @c <= @max
	begin
		set @a = SUBSTRING(@keyword, @c, 1);
	
		 if(@a <> '')
	
		 BEGIN
			SELECT @n = CASE WHEN ASCII(@a) Between 65 AND 90 THEN
				' ' + @a ELSE @a END

			SET @replaceTo = @replaceTo + @n;
		END

		set @c = @c + 1
	end

	RETURN RTRIM(LTRIM(@replaceTo));

END
GO
/****** Object:  UserDefinedFunction [dbo].[FNC_SYS_GetObjectId]    Script Date: 23/04/2015 07:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[FNC_SYS_GetObjectId](@name nvarchar(128)) RETURNs UniqueIdentifier
AS
BEGIN
	DECLARE @r UniqueIdentifier;
	Select @r = Id FROM ObjectEntry Where name = @name;
	Return @r;
END

GO
INSERT [dbo].[AttributeEntry] ([Id], [Name], [Type], [PrimaryKey], [ObjectId], [ForeignKey], [ForeignKeyRelation], [IsListable], [ListColumnIndex], [IsEditable], [IsComputed], [ComputedExpression], [IsRequired], [MaxLength]) VALUES (N'e0208f89-dd3f-4846-847a-000cf0c947a2', N'EUVAT', N'String', 0, N'bdeaee29-6377-4ea2-96c2-8720c154de6b', 0, NULL, 0, 30, 1, 0, NULL, 0, NULL)
INSERT [dbo].[AttributeEntry] ([Id], [Name], [Type], [PrimaryKey], [ObjectId], [ForeignKey], [ForeignKeyRelation], [IsListable], [ListColumnIndex], [IsEditable], [IsComputed], [ComputedExpression], [IsRequired], [MaxLength]) VALUES (N'8da57c84-38aa-437a-b60c-0086e980c233', N'AlertFinished', N'Boolean', 0, N'20313e89-1855-4613-a290-ba4255041800', 0, NULL, 0, 12, 1, 0, NULL, 0, NULL)
INSERT [dbo].[AttributeEntry] ([Id], [Name], [Type], [PrimaryKey], [ObjectId], [ForeignKey], [ForeignKeyRelation], [IsListable], [ListColumnIndex], [IsEditable], [IsComputed], [ComputedExpression], [IsRequired], [MaxLength]) VALUES (N'82a86b06-56a4-4a28-bedd-031e7dd8f05c', N'ZipCode', N'String', 0, N'a30d4fcf-d5e7-4804-a61a-4d1847543b11', 0, NULL, 0, 13, 1, 0, NULL, 0, NULL)
GO
INSERT [dbo].[Object_Translation] ([Id], [ObjectId], [LanguageId], [InsertViewTitle], [EditViewTitle], [ListViewTitle], [InsertViewDescription], [EditViewDescription], [ListViewDescription], [DeleteConfirmationMessage]) VALUES (N'3a7ebc80-8810-4c2d-97e6-05d47d946658', N'ea31767f-42f4-474a-8207-7d45b746544a', N'3028b79f-76f3-45f0-86e8-e46280c2e601', N'Ajouter Produit', N'Modifier Produit', N'Lister Produit', N'Cette page permet d''ajouter Produit', N'Cette page permet de modifier Produit', N'Cette page permet de lister Produit', N'Etes-vous sur de vouloir supprimer Produit?')
INSERT [dbo].[ObjectEntry] ([Id], [Name], [Description], [TableName], [PositionMenu], [TriggerOnInsert], [TriggerOnUpdate], [TriggerOnDelete]) VALUES (N'6898f0e8-c188-4f9f-9975-07c19a81dfa6', N'WorkingPenaltyType', N'Types de sanctions', N'WorkingPenaltyType', 35, NULL, NULL, NULL)
INSERT [dbo].[ObjectEntry] ([Id], [Name], [Description], [TableName], [PositionMenu], [TriggerOnInsert], [TriggerOnUpdate], [TriggerOnDelete]) VALUES (N'271a5635-3c36-4987-977a-0af43e9b2260', N'PayRollTaxAgency', N'Agence collecteur', N'PayRollTaxAgency', 2, NULL, NULL, NULL)
INSERT [dbo].[ObjectEntry] ([Id], [Name], [Description], [TableName], [PositionMenu], [TriggerOnInsert], [TriggerOnUpdate], [TriggerOnDelete]) VALUES (N'45e2b66c-0c99-4924-93c9-15b91dc7c6c3', N'ExpenseCategory', N'Catégorie des dépenses', N'ExpenseCategory', 4, NULL, NULL, NULL)
INSERT [dbo].[Translation] ([Id], [AttributeId], [LanguageId], [FormLabel], [ListLabel], [FormEditToolTip]) VALUES (N'0aae4e3c-9c6c-444f-8aed-0001b5fa4e7f', N'3d359722-7ed7-4d5c-a76c-fe17fd01c4b1', N'3028b79f-76f3-45f0-86e8-e46280c2e601', N'Echelon', N'Echelon', NULL)
INSERT [dbo].[Translation] ([Id], [AttributeId], [LanguageId], [FormLabel], [ListLabel], [FormEditToolTip]) VALUES (N'24e55130-7387-4983-8016-000a3bdbbed2', N'90938455-5143-4346-b868-6fea0c7e09ad', N'32f2b258-af11-4dfe-9eef-61ae070a944e', N'State Id', N'State Id', NULL)
INSERT [dbo].[Translation] ([Id], [AttributeId], [LanguageId], [FormLabel], [ListLabel], [FormEditToolTip]) VALUES (N'f24f8f07-d980-496b-a7a7-0094704d7a53', N'36501e0f-0670-4f56-a01b-99e4502cb7c6', N'3028b79f-76f3-45f0-86e8-e46280c2e601', N'Fonction', N'Fonction', NULL)
GO
INSERT [dbo].[Translation_Language] ([Id], [LanguageCode], [LanguageName]) VALUES (N'32f2b258-af11-4dfe-9eef-61ae070a944e', N'en-US', N'English')
INSERT [dbo].[Translation_Language] ([Id], [LanguageCode], [LanguageName]) VALUES (N'3028b79f-76f3-45f0-86e8-e46280c2e601', N'fr-FR', N'Français')
ALTER TABLE [dbo].[AttributeEntry] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AttributeEntry] ADD  DEFAULT ((0)) FOR [ForeignKey]
GO
ALTER TABLE [dbo].[AttributeEntry] ADD  DEFAULT ((0)) FOR [IsListable]
GO
ALTER TABLE [dbo].[AttributeEntry] ADD  DEFAULT ((1)) FOR [IsEditable]
GO
ALTER TABLE [dbo].[AttributeEntry] ADD  DEFAULT ((0)) FOR [IsComputed]
GO
ALTER TABLE [dbo].[AttributeEntry] ADD  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[Object_Translation] ADD  CONSTRAINT [DF__Object_Trans__Id__2C3393D0]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ObjectEntry] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ObjectEntry] ADD  DEFAULT ((0)) FOR [PositionMenu]
GO
ALTER TABLE [dbo].[Translation] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Translation_Language] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AttributeEntry]  WITH CHECK ADD FOREIGN KEY([ObjectId])
REFERENCES [dbo].[ObjectEntry] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Object_Translation]  WITH CHECK ADD  CONSTRAINT [FK__Object_Tr__Langu__2E1BDC42] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Translation_Language] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Object_Translation] CHECK CONSTRAINT [FK__Object_Tr__Langu__2E1BDC42]
GO
ALTER TABLE [dbo].[Object_Translation]  WITH CHECK ADD  CONSTRAINT [FK__Object_Tr__Objec__2D27B809] FOREIGN KEY([ObjectId])
REFERENCES [dbo].[ObjectEntry] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Object_Translation] CHECK CONSTRAINT [FK__Object_Tr__Objec__2D27B809]
GO
ALTER TABLE [dbo].[Translation]  WITH CHECK ADD FOREIGN KEY([AttributeId])
REFERENCES [dbo].[AttributeEntry] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Translation]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Translation_Language] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
