<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="StartPoint.DataAccess.Properties.Settings.StartPointInfraConnectionString" connectionString="data source=.;initial catalog=StartPointInfra;user id=StartPointERP;password=xc9wf8or&amp;;MultipleActiveResultSets=true; language=french" providerName="System.Data.SqlClient" />
    <add name="EMF-Congo" connectionString="data source=.;initial catalog=EMFCongo;user id=StartPointERP;password=xc9wf8or&amp;;MultipleActiveResultSets=true; language=french" providerName="System.Data.SqlClient" />
    <add name="StartPoint.ERP.MDM.Data.Properties.Settings.StartPoint_MDMConnectionString" connectionString="data source=.;initial catalog=StartPointMDM;user id=StartPointERP;password=xc9wf8or&amp;;MultipleActiveResultSets=true; language=french" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFWsHttpBindingHttps.DataAccessServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>          
        </behavior>
        <behavior>
          <!-- Pour éviter la divulgation d'informations de métadonnées, définissez les valeurs ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, définissez la valeur ci-dessous sur true. Pour éviter la divulgation d'informations d'exception, définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="wsHttpBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="StartPoint.DataAccess.Wcf.DataAccessService" behaviorConfiguration="WCFWsHttpBindingHttps.DataAccessServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="StartPoint.DataAccess.Wcf.IDataAccessService"></endpoint>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>
